.medidor_saida , .fonte_captacao{
	padding-left: 10px;
	padding-top: 15px;
}

.eta_geral label {
	display: inline-block;
	width: 90px;
	margin-right: 10px;
}

.eta_geral input {
	display: inline-block;
	width: 80px;
	margin-right: 10px;
}

.motor_bomba label {
	display: inline-block;
	width: 110px;
	margin-right: 10px;
}

.motor_bomba span {
	font-weight: bold;
	color: #267A85;
}

.motor_bomba input {
	display: inline-block;
	width: 100px;
	margin-right: 10px;
}

.motor_bomba label:nth-child(4) {
	width: 130px;
}

.motor_bomba input:nth-child(4) {
	width: 120px;
}

#descricao {
	width: 200px;
}

#lbl_altura_util,#lbl_capacidade {
	display: inline;
}

#lbl_capacidade {
	width: 120px;
}

.campos_medidor_saida {
	margin-top: 10px;
	margin-bottom: 10px;
}

.campos_medidor_saida * {
	vertical-align: middle;
}

.campos_medidor_saida > label {
	margin-left: 10px;
	margin-right: 5px;
}

.campos_medidor_saida > button{
	margin-left: 10px;
}


#tag , #medidorenttag{
	width: 60px;
}

.fonte_captacao_campos *{
	vertical-align: middle;
}

.fonte_captacao_campos label {
	display: inline-block;
	width: 110px;
}

.fonte_captacao_campos > * {
	margin-right: 10px;
}

.fonte_captacao_campos label:first-child{
	width: 320px;
}

.fonte_captacao_campos label:nth-child(2){
	width: 120px;
}

.fonte_captacao_campos label:nth-child(3){
	width: 130px;
}

#datainstalacaomedidorentrada_input {
	width: 80px;
}
